body {
    margin: 0;
    /*add this line below*/
    overflow-x: hidden;
  }
  
  /****************************
  NAVBAR
  ****************************/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    /* border-right:1px solid #bbb; */
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.navTitle {
    width: 200px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.navList {
    float: right;
    padding-top: 3px;
}

.hamburgerBtn {
    display: none;
}

/* site changes for small screen */
@media only screen and (max-width: 600px) {
    /* NAVBAR */
    .navList {
        display: none;
    }

    /* hamburger navigation for small screens */
    .hamburgerBtn {
        display: unset;
        height: 20px;
        text-align: center;
        padding: 14px 16px;
        float: right;
    }
}
